<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/easyinvoice/dist/easyinvoice.min.js"></script>
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.min.js"></script>
    <script src="https://unpkg.com/pdfjs-dist/build/pdf.worker.min.js"></script>
</head>

<body>
    <h1>Welcome <%= data[0].fullName %>!</h1>
    </p>Member since <%= data[0].getFormatDate() %>
        <hr>
        <a href="/"><button>Home</button></a>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a>
        <a href="/customers"><button>Customer</button></a>
        <a href="/drivers"><button>Driver</button></a>
        <a href="/manager"><button>Manager</button></a>
        <a href="/logout"><button>Logout</button></a>

        </p>
        <br>
        <table border="1">
            <thead>
                <th>Order Number</th>
                <th>Location</th>
                <th>Total Price</th>
                <th>Order Date</th>
            </thead>
            <% data[0].Orders.forEach(element=> { %>
                <tbody>
                    <td>
                        <%=element.orderNumber %>
                    </td>
                    <td>
                        <%=element.location %>
                    </td>
                    <td>
                        <%=formatCurrency(element.totalPrice) %>
                    </td>
                    <td>
                        <%=element.getFormatDate() %>
                    </td>
                </tbody>
                <% }) %>

        </table>
        <br><br>
        <a href="/logout"><button>logout</button></a>

        <br><br>

        <body>
            <button onclick="checkdata()">Check Data</button>
            <button onclick="createInvoice()">Create Invoice</button>
            <button onclick="downloadInvoice()">Download Invoice</button>
            <button onclick="renderInvoice()">Render Invoice</button>
            <p>Invoice as base64 (click create invoice):
                <small id="invoiceBase64"></small>
            </p>
            <div id="pdf"></div>
        </body>
        <script>
            // Create your invoice! Easy!
            const checkdata = (data) => {
                console.log(data);
            }

            function createInvoice() {
                var data = getSampleData();
                easyinvoice.createInvoice(data, function (result) {
                    document.getElementById('invoiceBase64').innerText = result.pdf;
                    /* console.log(result.pdf); */
                });
            }

            function downloadInvoice() {
                var data = getSampleData();
                easyinvoice.createInvoice(data, function (result) {
                    easyinvoice.download('myInvoice.pdf', result.pdf);
                    //	you can download like this as well:
                    //	easyinvoice.download();
                    //	easyinvoice.download('myInvoice.pdf');
                });
            }
            function getSampleData() {
                return {
                    // "customize": {
                    //     "template": "SGVsbG8gd29ybGQh" // Must be base64 encoded html. This example contains 'Hello World!' in base64
                    // },
                    images: {
                        logo: 'https://public.easyinvoice.cloud/img/logo_en_original.png',
                        background: 'https://public.easyinvoice.cloud/img/watermark-draft.jpg'
                    },
                    sender: {
                        company: 'Fishveree',
                        address: 'l. Arteri Pd. Indah No.7, RT.5/RW.9, Kby. Lama',
                        zip: '1234 AB',
                        city: 'Jakarta',
                        country: 'Indonesia'
                        // "custom1": "custom value 1",
                        // "custom2": "custom value 2",
                        // "custom3": "custom value 3"
                    },
                    client: {
                        company: 'Salvador Jalland!',
                        address: '7885 Gerald Pass',
                        zip: '4567 CD',
                        city: 'Clientcity',
                        country: 'Clientcountry'
                        // "custom1": "custom value 1",
                        // "custom2": "custom value 2",
                        // "custom3": "custom value 3"
                    },
                    information: {
                        number: '2021.0001',
                        date: '12-12-2021',
                        'due-date': '31-12-2021'
                    },
                    products: [
                        {
                            quantity: 2,
                            description: 'Product 1',
                            'tax-rate': 6,
                            price: 33.87
                        },
                        {
                            quantity: 4.1,
                            description: 'Product 2',
                            'tax-rate': 6,
                            price: 12.34
                        },
                        {
                            quantity: 4.5678,
                            description: 'Product 3',
                            'tax-rate': 21,
                            price: 6324.453456
                        }
                    ],
                    'bottom-notice': 'Kindly pay your invoice within 15 days.',
                    settings: {
                        currency: 'USD' // See documentation 'Locales and Currency' for more info. Leave empty for no currency.
                        // "locale": "nl-NL", // Defaults to en-US, used for number formatting (see docs)
                        // "taxNotation": "gst", // Defaults to vat
                        // "margin-top": 25, // Default to 25
                        // "margin-right": 25, // Default to 25
                        // "margin-left": 25, // Default to 25
                        // "margin-bottom": 25, // Default to 25
                        // "format": "Letter", // Defaults to A4,
                        // "height": "1000px", // allowed units: mm, cm, in, px
                        // "width": "500px", // allowed units: mm, cm, in, px
                        // "orientation": "landscape", // portrait or landscape, defaults to portrait
                    }
                    // Used for translating the headers to your preferred language
                    // Defaults to English. Below example is translated to Dutch
                    // "translate": {
                    //     "invoice": "FACTUUR",
                    //     "number": "Nummer",
                    //     "date": "Datum",
                    //     "due-date": "Verloopdatum",
                    //     "subtotal": "Subtotaal",
                    //     "products": "Producten",
                    //     "quantity": "Aantal",
                    //     "price": "Prijs",
                    //     "product-total": "Totaal",
                    //     "total": "Totaal"
                    // },
                };
            }

            function renderInvoice() {
                var data = getSampleData();
                document.getElementById("pdf").innerHTML = "loading...";
                easyinvoice.createInvoice(data, function (result) {
                    easyinvoice.render('pdf', result.pdf);
                });
            }

            // var data = {};
            // easyinvoice.createInvoice(data, function (result) {
            //     // The response will contain a base64 encoded PDF file
            //     console.log('PDF base64 string: ', result.pdf);

            //     // Now this result can be used to save, download or render your invoice
            //     // Please review the documentation below on how to do this
            // });
        </script>
</body>

</html>